# Imports

In [4]:
from scripts.extract import convert_xml_to_dataframe

# Read data

In [5]:
df = convert_xml_to_dataframe()

In [6]:
df.head()

,PATIENT_ID,SEX,BIRTH_DATE,VISIT_DATE,TREATING_PROVIDER,BLEEDING_ON_PROBING,NR_OF_POCKET,NR_OF_FURCATION,NR_OF_MOBILITY,TOTAL_LOSS_OF_ATTACHMENT_LEVEL,HAS_PARODONTITIS
0,5999976,man,28-02-1960,14-01-2007,dentist,20,2,0,0,0,True
1,5999977,man,28-02-1960,14-01-2007,dentist,20,2,0,0,0,False
2,5999978,man,28-02-1960,14-01-2007,dentist,20,2,0,0,0,False
3,5999979,man,28-02-1960,14-01-2007,dentist,20,2,0,0,0,True
4,5999980,man,28-02-1960,14-01-2007,dentist,20,2,0,0,0,True